.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') Powered by 剑心
			&nbsp;2013 All rights reserved.

link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')

block footer